<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.enzoconserve">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fields"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fields"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".upload"></activity>
        <activity android:name=".earth.EarthDashboard" />
        <activity android:name=".CheckActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".news.NewsDetailActivity" />
        <activity android:name=".Userinfoupdate" />
        <activity android:name=".profileActivity" />
        <activity android:name=".RecoverActivity" />
        <activity android:name=".Register_Activity" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".conservelogin" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>